.ui-step {
    color: #333;
    display: flex;
    flex-direction: column;

    > .code {
        font-family: Consolas, 'Courier New', monospace;
        font-size: 16px;

        input[type="number"],
        input[type="text"] {
            background-color: White;
            border: solid 1px #CCC;
            color: #333;
            outline: 0;

            &:focus {
                background-color: #999;
                color: White;
            }
        }

        input:disabled {
            color: #999;
            cursor: not-allowed;
        }

        .argument {
            padding-left: 1em;
        }
    }

    > .description {
        font-size: 12px;
        margin-top: 5px;
    }
}