.ui-steplist {
    margin-top: .5em;

    .button {
        background-color: Transparent;
        border: 0;
        color: #CCC;
        cursor: pointer;
        margin: 0;
        outline: 0;
        padding: 0;

        &[disabled] {
            cursor: not-allowed;
        }

        &:hover:not([disabled]) {
            color: #333;
        }
    }

    .big-button {
        .button;

        font-size: 16px;
        height: 50px;
        width: 50px;
    }

    > ul {
        background-color: #F7F7F7;
        margin: 0;
        padding: 0;
        width: 100%;

        > li {
            display: flex;
            flex-direction: row;
            min-height: 50px;

            &:nth-child(2n) {
                background-color: #E7E7E7;
            }

            > div.index {
                background-color: White;
                color: #CCC;
                display: flex;
                flex-direction: row;
                align-items: center;

                span.number {
                    font-size: 40px;
                    text-align: center;
                    width: 50px;
                }

                div.buttons {
                    display: flex;
                    flex-direction: column;
                    margin-right: 10px;
                    visibility: hidden;

                    button {
                        .button;

                        height: 25px;
                        width: 25px;
                    }
                }
            }

            &:hover > div.index > div.buttons {
                visibility: visible;
            }

            > button.play-button {
                .big-button;

                align-self: center;
            }

            > div.step {
                align-items: center;
                display: flex;
                flex: 1;
                padding: 10px 0;
            }

            > div.busy,
            > div.error,
            > div.result {
                align-items: center;
                display: flex;
                flex: 1;
                padding: 10px 0;
                padding: 5px;
            }

            > div.error,
            > div.result {
                font-family: 'Consolas', 'Courier New', monospace;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > div.busy {
                color: #999;
            }

            > div.error {
                color: Red;
            }

            > button.remove-button {
                .big-button;

                align-self: center;
                display: flex;
                justify-content: center;
            }
        }
    }
}