.ui-steplist {
    margin-top: .5em;

    table {
        width: 100%;

        tbody {
            background-color: #F7F7F7;

            tr:nth-child(2n) {
                background-color: #E7E7E7;
            }

            tr td {
                min-height: 50px;

                &.index {
                    background-color: White;
                    color: #CCC;
                    font-size: 40px;
                    text-align: center;
                    width: 100px;
                }

                &.button-bar {
                    padding: 0 10px;

                    &.left {
                        width: 100px;
                    }

                    &.right {
                        width: 50px;
                    }

                    button {
                        background-color: Transparent;
                        border: 0;
                        color: #CCC;
                        cursor: pointer;
                        height: 50px;
                        margin: 0;
                        width: 50px;

                        &:hover {
                            color: #333;
                        }
                    }
                }

                &.step {
                    padding: 10px 0;
                }
            }
        }
    }
}