.ui-step {
    color: #333;
    display: inline-block;
    font-family: Consolas, 'Courier New', monospace;
    font-size: 16px;

    input[type="number"],
    input[type="text"] {
        background-color: #CCC;
        border: 0;
        color: White;
        outline: 0;
        padding: 0 .2em;
        width: 250px;

        &:focus {
            background-color: #666;
            color: White;
        }
    }

    .argument {
        padding-left: 1em;
    }
}